$def with(result)
<h1>Logistic regression: result <button class="btn btn-primary" onclick="goBack()">Go Back</button></h1>

<div class="table-responsive">
<table class="table table-hover scroll">
    <thead class="bg-primary text-white sticky-top" style="height: 300px ; overflow-y: scroll;">
        <tr>
            <th>Name</th>
            <th>Value</th>
    </thead>
    $for row in result:
        <tr>
            <td>$row</td>
            $if row == "Report" or row== "Python"  or row == "Python validation":
                <td>
                <pre>
                <code>
                $result[row]
                </code>
                </pre>
                </td>
            $elif row == "Model":
                <td>
                    <a href="static/models/$result[row]" target="blank">Download model: $result[row]</a>
                </td>
            $elif row == "train.csv" or row == "validation.csv":
                <td>
                    <a href="static/csv/$result[row]" target="blank">Download: $result[row]</a>
                </td>
            $elif row == "predictions.py" or row == "train.py":
                <td>
                    <a href="static/code/$result[row]" target="blank">Download: $result[row]</a>
                </td>
            $else:
                <td>$result[row]</td>
            </tr>
        </tr>
</table>
</div>

<img src="/static/images/logistic.png" class="img-fluid" alt="Logistic regression">
<img src="/static/images/roc.png" class="img-fluid" alt="Logistic regression">
