$def with(column,nulls,dtypes,unique,mode,mean,median)
<h1>Dataframe Change Dtye <button class="btn btn-primary" onclick="goBack()">Go Back</button></h1>

<div class="table-responsive">
<table class="table table-hover scroll">
    <thead class="bg-primary text-white sticky-top" style="height: 300px ; overflow-y: scroll;">
        <tr>
            <th>Column</th>
            <th>Dtypes</th>
            <th>Nulls</th>
            <th>Unique values</th>
            <th>Mode</th>
            <th>Mean</th>
            <th>Median</th>
        </tr>
    </thead>

    <tr>
        <td>$column</td>
        <td>$dtypes</td>
        <td>$nulls</td>
        <td>$unique</td>
        <td>$mode</td>
        <td>$mean</td>
        <td>$median</td>
    </tr>
</table>
</div>

<form action="" method="post" enctype="multipart/form-data">
    <input type="hidden" name="column" id="column" value="$column">
    <select class="form-control" id="dtype" name="dtype">
        <option value="str">str</option>
        <option value="int64">int64</option>
        <option value="float64">float64</option>
        <option value="datetime64">datetime64</option>
        <option value="bool">bool</option>
    </select>
    
    <div class="form-group">
        <button id="impute" name="change_type" class="btn btn-primary">Change dtype</button>
    </div>
</form>