$def with(cols,nulls,dtypes,unique,mode,mean,median)
<h1>Dataset clean</h1>
<div class="table-responsive">
<table class="table table-hover scroll" border=1>
    <thead class="bg-primary text-white sticky-top" style="height: 300px ; overflow-y: scroll;">
    <tr>
        <th>No.</th>
        <th>Columns</th>
        <th>Dtypes</th>
        <th>Drop</th>
        <th>Dummies</th>
        <th>Rename</th>
        <th>Dtype</th>
        <th>Impute</th>
        <th>Replace</th>
        <th>Nulls</th>
        <th>Unique</th>
        <th>Mode</th>
        <th>Mean</th>
        <th>Median</th>
    </tr>
    </thead>
    $ no = 0
    $for i in range(len(cols)):
        <tr>
            <td>$no</td>
            <td><a href="/field/$cols[i]">$cols[i]</a></td>
            <td>$dtypes[i]</td>
            <td><a href="/drop/$cols[i]">Drop</a></td>
            <td><a href="/dummies/$cols[i]">Dummies</a></td>
            <td><a href="/rename/$cols[i]">Rename</a></td>
            <td><a href="/change_type/$cols[i]">Dtype</a></td>
            <td><a href="/impute/$cols[i]">Impute</a></td>
            <td><a href="/replace/$cols[i]">Replace</a></td>
            <td>$nulls[i]</td>
            <td>$unique[i]</td>
            <td>$mode[i]</td>
            <td>$mean[i]</td>
            <td>$median[i]</td>
        </tr>
        $ no+=1
</table>
</div>
