$def with(columns)
<h1>Boxplot <button class="btn btn-primary" onclick="goBack()">Go Back</button></h1>
<form action="" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="x"><h3>x column</h3></label>
        <select class="form-control" id="x" name="x">
            $ no = 0
            $for row in columns:
                <option value="$row">$row</option>
        </select>
    </div>

    <div class="form-group">
        <label for="y"><h3>Y column</h3></label>
        <select class="form-control" id="y" name="y">
            $for row in columns:
                <option value="$row">$row</option>
        </select>
    </div>
    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="btn btn-primary">Boxplot</button>
    </div>
</form>