$def with(knn,tree,randomf,svc)
<h1>KNeighbors Classifer: Result <button class="btn btn-primary" onclick="goBack()">Go Back</button></h1>

<table class="table table-hover scroll">
    <thead class="thead-dark sticky-top" style="height: 300px ; overflow-y: scroll;">
        <tr>
            <th>Name</th>
            <th>Value</th>
    </thead>
    $for row in knn:
        <tr>
            <td>$row</td>
            $if row == "Report" or row == "Python":
                <td>
                <pre>
                <code>
                $knn[row]
                </code>
                </pre>
                </td>
            $else:
                <td>$knn[row]</td>
        </tr>
</table>

<img src="/static/images/knn.png" class="img-fluid" alt="knn">

<h1>Decision Tree Classfier: result</h1>
<table class="table table-hover scroll">
    <thead class="thead-dark sticky-top" style="height: 300px ; overflow-y: scroll;">
        <tr>
            <th>Name</th>
            <th>Value</th>
    </thead>
    $for row in tree:
        <tr>
            <td>$row</td>
            $if row == "Report" or row == "Python":
                <td>
                <pre>
                <code>
                $tree[row]
                </code>
                </pre>
                </td>
            $else:
                <td>$tree[row]</td>
        </tr>
</table>

<img src="/static/images/tree_small.png" class="img-fluid" alt="Decision Tree">

<h1>RandomForest Classfier: result</h1>
<table class="table table-hover scroll">
    <thead class="thead-dark sticky-top" style="height: 300px ; overflow-y: scroll;">
        <tr>
            <th>Name</th>
            <th>Value</th>
    </thead>
    $for row in randomf:
        <tr>
            <td>$row</td>
            $if row == "Report" or row == "Python":
                <td>
                <pre>
                <code>
                $randomf[row]
                </code>
                </pre>
                </td>
            $else:
                <td>$randomf[row]</td>
        </tr>
</table>

<img src="/static/images/randomf.png" class="img-fluid" alt="RandomForest">

<h1>Support Vector Machine: result</h1>
<table class="table table-hover scroll">
    <thead class="thead-dark sticky-top" style="height: 300px ; overflow-y: scroll;">
        <tr>
            <th>Name</th>
            <th>Value</th>
    </thead>
    $for row in svc:
        <tr>
            <td>$row</td>
            $if row == "Report" or row == "Python":
                <td>
                <pre>
                <code>
                $svc[row]
                </code>
                </pre>
                </td>
            $else:
                <td>$svc[row]</td>
        </tr>
</table>