$def with(cols,nulls,dtypes,unique,mode,mean,median)
<h1>Dataframe update</h1>
<table class="table table-hover scroll" border=1>
    <thead class="thead-dark sticky-top" style="height: 300px ; overflow-y: scroll;">
    <tr>
        <th>No.</th>
        <th>Columns</th>
        <th>Dtypes</th>
        <th>Nulls</th>
        <th>Impute</th>
        <th>Replace</th>
        <th>Unique values</th>
        <th>Mode</th>
        <th>Mean</th>
        <th>Median</th>
    </tr>
    </thead>
    $ no = 0
    $for i in range(len(cols)):
        <tr>
            <td>$no</td>
            <td><a href="/field/$cols[i]">$cols[i]</a></td>
            <td>$dtypes[i]</td>
            <td>$nulls[i]</td>
            <td><a href="/impute/$cols[i]">Impute</a></td>
            <td><a href="/replace/$cols[i]">Replace</a></td>
            <td>$unique[i]</td>
            <td>$mode[i]</td>
            <td>$mean[i]</td>
            <td>$median[i]</td>
        </tr>
        $ no+=1
</table>
