$def with(cols,values, duplicates,nulls)
<h1>Dataframe general</h1>
<table class="table table-hover scroll">
    <thead class="thead-dark sticky-top" style="height: 300px ; overflow-y: scroll;">
        <tr>
            <th>Drop</th>
            <th>No.</th>
            <th>Columns</th>
            <th>Duplicates</th>
            <th>Countplot</th>
            <th>Nulls</th>
            <th>Head values</th>
        </tr>
    </thead>
    <tbody>
        $ no = 0
        $for i in range(len(cols)):
            <tr>
                <td><a href="/drop/$cols[i]">Drop</a></td>
                <td>$no</td>
                <td>$cols[i]</td>
                <td>$duplicates[i]</td>
                <td><a href="/countplot/$cols[i]">Countplot</a></td>
                <td>$nulls[i]</td>
                <td>$values[i]</td>
            </tr>
            $ no+=1
    </tbody>
</table>