$def with(column,nulls,dtypes,unique,mode,mean)
<table class="table table-hover scroll">
    <thead class="thead-dark sticky-top" style="height: 300px ; overflow-y: scroll;">
        <tr>
            <th>Column</th>
            <th>Dtypes</th>
            <th>Nulls</th>
            <th>Unique values</th>
            <th>Mode</th>
            <th>Mean</th>
        </tr>
    </thead>

    <tr>
        <td>$column</td>
        <td>$dtypes</td>
        <td>$nulls</td>
        <td>$unique</td>
        <td>$mode</td>
        <td>$mean</td>
    </tr>
</table>

<form action="" method="post" enctype="multipart/form-data">
    <input type="hidden" name="column" id="column" value="$column">
    <div class="form-group">
        <label for="nan_value"><b>New value for NaN values</b></label>
        <input type="text" class="form-control" placeholder="New value for NaN" required name="nan_value" id="nan_value">
    </div>
    <div class="form-group">
        <button id="impute" name="impute" class="btn btn-primary">Impute</button>
    </div>
</form>