$def with(column,nulls,dtypes,unique,mode,mean)
<h1>Column impute</h1>
<h3><a href="/columns">Return</a></h3>
<br>

<table border=1>
    <tr>
        <th>Column</th>
        <th>Dtypes</th>
        <th>Nulls</th>
        <th>Unique values</th>
        <th>Mode</th>
        <th>Mean</th>
    </tr>

    <tr>
        <td>$column</td>
        <td>$dtypes</td>
        <td>$nulls</td>
        <td>$unique</td>
        <td>$mode</td>
        <td>$mean</td>
    </tr>
</table>

<form action="" method="post" enctype="multipart/form-data">
    <h3>Impute value for NaN value</h3>
    <input type="hidden" name="column" id="column" value="$column">
    <label for="nan_value">New value</label>
    <input type="text" required name="nan_value" id="nan_value">
    <button id="impute" name="impute" class="form-control">Impute</button>
</form>