$def with(result)
<h2>Linear regression</h2>

<table class="table table-hover scroll">
    <thead class="thead-dark sticky-top" style="height: 300px ; overflow-y: scroll;">
        <tr>
            <th>Name</th>
            <th>Value</th>
    </thead>
    $for row in result:
        <tr>
            <td>$row</td>
            <td>$result[row]</td>
            $if row == 'x':
            $ x = len(result[row])
        </tr>
</table>

<img src="/static/images/lineal.png" class="img-fluid" alt="Linear regression">

<img src="/static/images/histogram.png" class="img-fluid" alt="histogram>