$def with(result)
<h2>Logistic regression</h2>

<table class="table table-hover scroll">
    <thead class="thead-dark sticky-top" style="height: 300px ; overflow-y: scroll;">
        <tr>
            <th>Name</th>
            <th>Value</th>
    </thead>
    $for row in result:
        <tr>
            <td>$row</td>
            $if row == "Report":
                <td>
                <pre>
                <code>
                $result[row]
                </code>
                </pre>
                </td>
            $else:
                <td>$result[row]</td>
        </tr>
</table>

<img src="/static/images/logistic.png" class="img-fluid" alt="Logistic regression">
<img src="/static/images/roc.png" class="img-fluid" alt="Logistic regression">
