$def with(columns)

<form action="" method="post" enctype="multipart/form-data">
<h1>Histogram <button class="btn btn-primary" onclick="goBack()">Go Back</button> <button id="send" name="send" class="btn btn-primary">Histogram plot</button></h1>
<table id="dataframe" class="table table-striped table-bordered table-hover scroll" style="width:100%">
    <thead class="bg-primary text-white">
                <tr>
                    <th style="width: 10%">No</th>
                    <th>Columns</th>
                </tr>
            </thead>
            $ no = 0
            <tbody>
            $for i in range(len(columns)):
                <tr>
                    <td>$no</td>
                    <td><input type="checkbox" id="column" name="column" value="$columns[i]"> $columns[i]</td>
                </tr>
                $ no+=1
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="btn btn-primary">Histogram plot</button>
    </div>
</form>


