$def with(result)
<h1>Linear regression: Result <button class="btn btn-primary" onclick="goBack()">Go Back</button> <a href="/deploy" class="btn btn-primary" role="button">Deploy</a> </h1>

<div class="table-responsive">
<table class="table table-hover scroll">
    <thead class="bg-primary text-white sticky-top" style="height: 300px ; overflow-y: scroll;">
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Value</th>
        </tr>
    </thead>
    $ no = 0
    $for row in result:
        <tr>
            <td>$no</td>
            $ no+= 1
            <td>$row</td>
        $if row == "Report" or row == "Python train" or row == "Python predictions":
            <td><pre><code>$result[row]</code></pre></td>
        $elif row == "Model":
            <td>
                <a href="static/models/$result[row]" target="blank">Download model: $result[row]</a>
            </td>
        $elif row == "train.csv" or row == "validation.csv":
            <td>
                <a href="static/csv/$result[row]" target="blank">Download: $result[row]</a>
            </td>
        $elif row == "predictions.py" or row == "train.py":
            <td>
                <a href="static/code/$result[row]" target="blank">Download: $result[row]</a>
            </td>
        $else:
            <td>$result[row]</td>
        </tr>
<tr>
    <td>$no</td>
    <td>REST API code</td>
    <td><pre><code>
import urllib.request
import json

try:
    data = {'colum_0':'value0', 'column_1':'value_1'}

    body = str.encode(json.dumps(data))

    url = 'http://www.ml4d.com/api'
    headers = {'Content-Type':'application/json'}

    req = urllib.request.Request(url, body, headers)
    response = urllib.request.urlopen(req)
    result = response.read()
    print(result)
except urllib.error.HTTPError as error:
    print("The request failed with status code: " + str(error.code))
    print(error.info())
    print(json.loads(error.read().decode("utf8", 'ignore')))
</code></pre></td>
</tr>
</table>
</div>
<div class="embed-responsive embed-responsive-21by9">
    <iframe class="embed-responsive-item" src="/static/images/linear.html"></iframe>
</div>

<div class="embed-responsive embed-responsive-21by9">
    <iframe class="embed-responsive-item" src="/static/images/histogram.html"></iframe>
</div>
