$def with(method, result)
<h1>$method: Result <button class="btn btn-primary" onclick="goBack()">Go Back</button></h1>

<div class="table-responsive">
<table class="table table-hover scroll">
    <thead class="thead-dark sticky-top" style="height: 300px ; overflow-y: scroll;">
        <tr>
            <th>Name</th>
            <th>Value</th>
    </thead>
    $for row in result:
        <tr>
            <td>$row</td>
        $if row == "Report" or row == "Python" or row == "Python validation":
            <td>
            <pre>
            <code>
            $result[row]
            </code>
            </pre>
            </td>
        $elif row == "confusion_plot":
            <td>
                <img src="/static/images/confusion_plot.png" class="img-fluid" alt="confusion_matrix">
            </td>
        $elif row == "roc_plot" and result[row] == True:
            <td>
                <img src="/static/images/roc_plot.png" class="img-fluid" alt="roc">
            </td>
        $elif row == "optimization_plot" and result[row] == True:
            <td>
                <img src="/static/images/optimization_plot.png" class="img-fluid" alt="roc">
            </td>
        $elif row == "Model":
            <td>
                <a href="static/models/$result[row]">Download model: $result[row]</a>
            </td>
        $elif row == "train.csv" or row == "validation.csv":
            <td>
                <a href="static/csv/$result[row]">Download dataset: $result[row]</a>
            </td>
        $else:
            <td>$result[row]</td>
        </tr>
</table>
</div>
