$def with(method, result)
<h1>$method: Result <button class="btn btn-primary" onclick="goBack()">Go Back</button> <a href="/deploy" class="btn btn-primary" role="button">Deploy</a></h1>

<div class="table-responsive">
<table  class="table table-hover scroll">
    <thead class="bg-primary text-white sticky-top" style="height: 300px ; overflow-y: scroll;">
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Value</th>
    </thead>
    $ no = 0
    $for row in result:
        <tr>
            <td>$no</td>
            $ no += 1
            <td>$row</td>
        $if "Report" in row or "Python" in row or "Python validation" in row:
            <td><pre><code>$result[row]</code></pre></td>
        $elif "confusion_plot" in row:
            <td>
                <img src="/static/images/confusion_plot.png" class="img-fluid" alt="confusion_matrix">
            </td>
        $elif "roc_plot" in row and result[row] == True:
            <td>
                <img src="/static/images/roc_plot.png" class="img-fluid" alt="roc">
            </td>
        $elif "Optimization_plot" in row and result[row] == True:
            <td>
                <img src="/static/images/optimization_plot.png" class="img-fluid" alt="roc">
            </td>
        $elif "Model" in row:
            <td>
                <a href="static/models/$result[row]" target="blank">Download model: $result[row]</a>
            </td>
        $elif "train.csv" in row or "validation.csv" in row:
            <td>
                <a href="static/csv/$result[row]" target="blank">Download: $result[row]</a>
            </td>
        $elif "predictions.py" in row or "train.py" in row:
            <td>
                <a href="static/code/$result[row]" target="blank">Download: $result[row]</a>
            </td>
        $else:
            <td>$result[row]</td>
        </tr>
</table>
</div>
