$def with(cols,types,nulls,correlation)
<h1>Decision Tree Classfier: independent term X <button class="btn btn-primary" onclick="goBack()">Go Back</button></h1>

<form action="" method="post" enctype="multipart/form-data">
    <div class="table-responsive">
    <table class="table table-hover scroll">
        <thead class="thead-dark sticky-top" style="height: 300px ; overflow-y: scroll;">
            <tr>
                <th>Columns</th>
                <th>Types</th>
                <th>Correlation</th>
                <th>Nulls</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" onClick="toggle(this)"> Select all <button id="send" name="send" class="btn btn-primary">Select X</button></td>
                <td></td>
                <td></td>
            </tr>
            $ no = 0
            $for i in range(len(cols)):
                $if types[i] != "object" and nulls[i] == 0:
                    <tr>
                        <td><input type="checkbox" id="column" name="column" value="$cols[i]"> $cols[i]</td>
                        <td>$types[i]</td>
                        $if correlation[i] > 0.5:
                            <td><p class="text-danger">$correlation[i]</p></td>
                        $else:
                            <td>$correlation[i]</td>
                        <td>$nulls[i]</td>
                    </tr>
            $ no+=1
        </tbody>
    </table>
    </div>
    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="btn btn-primary">Select X</button>
    </div>
</form>
