$def with(cols, prediction)
<form action="" method="post" enctype="multipart/form-data">
    $for col in cols:
        <div class="form-group">
            <label for="$col"><b>$col</b></label>
            <input type="text" required id="$col" name="$col" class="form-control">
        </div>
    <div class="form-group">
        <button id="predict" name="predict" class="btn btn-primary">Prediction</button>
    </div>
</form>

$if prediction != None:
    <div class="table-responsive">
        <table  class="table table-hover scroll">
            <thead class="bg-primary text-white sticky-top" style="height: 300px ; overflow-y: scroll;">
                <tr>
                    <th>Prediction</th>
                    <th>Input</th>
                </tr>
            </thead>
            <tbody>
                $for p in prediction:
                    <tr>
                        <td>$p[0]</td>
                        <td>$p[1]</td>
                    </tr>
            </tbody>
        </table>
    </div>
