$def with(cols, prediction)
<h1>Model deploy</h1>

<h2>Inputs <button class="btn btn-primary" onclick="goBack()">Go Back</button> <a href="/api?" class="btn btn-primary" target="blank" role="button">API</a></h2>

<form action="" method="post" enctype="multipart/form-data">
    $for col in cols:
        <div class="form-group">
            <label for="$col"><b>$col</b></label>
            <input type="text" required id="$col" name="$col" class="form-control">
        </div>
    <div class="form-group">
        <button id="predict" name="predict" class="btn btn-primary">Prediction</button>
    </div>
</form>

<h2>Predictions</h2>
$if prediction != None:
    <table id="dataframe" class="table table-striped table-bordered table-hover scroll" style="width:100%">
        <thead class="bg-primary text-white sticky-top" style="height: 300px ; overflow-y: scroll;">
            <tr>
                <th>No.</th>
                <th>Model</th>
                <th>Prediction</th>
                <th>Input</th>
            </tr>
        </thead>
        <tbody>
            $ no = 0
            $for p in prediction:
                <tr>
                    <td>$no</td>
                    $ no += 1
                    <td><a href="static/models/$p[0]">$p[0]</a></td>
                    <td>$p[1]</td>
                    <td>$p[2]</td>
                </tr>
        </tbody>
    </table>


