$def with(app_version)
<h1>About</h1>

<div class="card">
  <div class="card-header bg-primary text-white">About</div>
  <div class="card-body">
    <h5 class="card-title">ML4D v $app_version</h5>
    <p class="card-text">Machine Learning for Developers by Salvador Hernández Mendoza.</p>
    <a href="https://mx.linkedin.com/in/salvadorhm" target="_blank" class="btn btn-primary">Profile</a>
    <a href="mailto:salvadorhm@gmail.com" target="_blank" class="btn btn-primary">Send Feedback</a>
  </div>
</div>
<br>
<div class="card">
    <div class="card-header bg-primary text-white">Requirements run downloaded files</div>
    <div class="card-body">
        <ul>
            <li>pandas==1.0.1</li>
            <li>numpy==1.18.1</li>
            <li>statsmodels==0.11.1</li>
            <li>scipy==1.4.1</li>
            <li>matplotlib==3.1.3</li>
            <li>seaborn==0.10.0</li>
            <li>sklearn==0.0</li>
        </ul>
    </div>
</div>
<br>
<div class="card">
  <div class="card-header bg-primary text-white">GitHub</div>
  <div class="card-body">
    <a href="https://github.com/salvadorhm/ml4d_ce" target="blank"><img src="/static/icon/github.png" class="img-fluid" alt="GitHub"></a>
  </div>
</div>
<br>
<br>