$def with(correlation)
<h1>Correlation</h1>

    <table id="dataframe" class="table table-striped table-bordered table-hover scroll" style="width:100%">
        <thead class="bg-primary text-white">
            <tr>
                <th>Name</th>
                $for r in correlation:
                    <th>$r</th>
            </tr>
        </thead>
        $for row in correlation:
        <tr>
            <td>$row</td>
            $for r in correlation[row]:
                $if correlation[row][r] > 0.5:
                    <td>
                        <p class="text-danger">$correlation[row][r]</p>
                    </td>
                $else:
                    <td>$correlation[row][r]</td>
        </tr>
    </table>
