$def with(describe)
<h1>Describe dataset</h1>

<table id="dataframe" class="table table-striped table-bordered table-hover scroll" style="width:100%">
    <thead class="bg-primary text-white">
        <tr>
            <th>Name</th>
            $for r in describe:
                $for c in describe[r]:
                    <th>$c</th>
                $break
        </tr>
    </thead>
    $for row in describe:
        <tr>
            <td>$row</td>
            $for r in describe[row]:
                <td>$describe[row][r]</td>
        </tr>
</table>