$def with(describe)
<h1>Describe dataset</h1>

<div class="table-responsive">
<table class="table table-hover scroll" border=1>
    <thead class="bg-primary text-white sticky-top" style="height: 300px ; overflow-y: scroll;">
        <tr>
            <th>Name</th>
            $for r in describe:
                $for c in describe[r]:
                    <th>$c</th>
                $break
        </tr>
    </thead>
    $for row in describe:
        <tr>
            <td>$row</td>
            $for r in describe[row]:
                <td>$describe[row][r]</td>
        </tr>
</table>
</div>