$def with(cols,values, duplicates,nulls,dtypes,n,count)
<h1>Dataset information</h1>

<table id="dataframe" class="table table-striped table-bordered table-hover scroll" style="width:100%">
    <thead class="bg-primary text-white">
        <tr>
            <th>No.</th>
            <th>Columns</th>
            <th>Count</th>
            <th>Dtypes</th>
            <th>Duplicates</th>
            <th>Countplot</th>
            <th>Histogram</th>
            <th>Null - $n</th>
            <th>Head values</th>
        </tr>
    </thead>
    <tbody>
        $ no = 0
        $for i in range(len(cols)):
            <tr>
                <td>$no</td>
                <td><a href="/field/$cols[i]">$cols[i]</a></td>
                <td>$count[i]</td>
                <td>$dtypes[i]</td>
                <td>$duplicates[i]</td>
                <td><a href="/countplot/$cols[i]">Countplot</a></td>
                <td><a href="/histogram/$cols[i]">Histogram</a></td>
                $if nulls[i] > 0:
                    <td bgcolor="#FF0000">
                        <p class="text-white">$nulls[i]</p>
                    </td>
                $else:
                    <td>$nulls[i]</td>
                <td>$values[i]</td>
            </tr>
            $ no+=1
    </tbody>
</table>
<br>
<br>
